.contact_section input{
    border: none;
    outline: none;
    height: 45px;
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    padding-left: 15px;
}

.contact_section input.message_input {
    height: 100px;
    overflow: scroll;
}